.python-version
/.env*
/raw_data/
/work_data/all_works_sociology_from_bq.csv
/work_data/final_all_works_sociology_from_bq.csv
/work_data/all_sociology_works (1).csv
/work_data/all_sociology_works (1).csv:Zone.Identifier
/work_data/all_works_sociology_from_bg.csv

# Compiled Python
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache
htmlcov

# Editor configs
.mr.developer.cfg
.project
.pydevproject
*.sublime*
*.code-workspace

# Emacs backups
*~

# MacOS stuff
.DS_Store
