black
fastapi
ipdb
jupyterlab
matplotlib
numpy
nltk
pandas
pdbpp
pdfquery
pip-tools
pre-commit
pyalex
pylint
pytest
python-multipart
python-slugify[unidecode]
rapidfuzz
refextract
ruff  # Very fast Rust linter.
scikit-learn
seaborn
spacy
streamlit
uvicorn
