# Minimal requirements given by LeWagon
pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn

pyalex # For working with the OpenAlex.org API.
python-slugify[unidecode]  # For simplifying strings to ease the matching process.
refextract
pdfquery
rapidfuzz

# Development
pre-commit # For automatically running checks during committing.
black # Autoformatting according to PEP8.
ruff  # Very fast Rust linter.
pdbpp  # A drop-in replacement for pdb.
pip-tools
